body{
    background-image:  linear-gradient(to Top, teal 0%, purple 100%);
    float: none;
    
}

#logout {
    background-color: darkcyan;
    width: 300px;
    border-radius: 5px;
margin-top: 10px;
}

#messages{
    background-color: rgb(110, 225, 240);
    width: 100px;
    border-radius: 5px;
margin-top: 10px;
}
.form-control{
    width: 900px;
    margin-top: 646px;
    margin-left: 30px;
    height: 30px;
    position: absolute;
}

#send{
 
    background-color: darkcyan;
    width: 300px;
    border-radius: 5px;
margin-left: 70%;
margin-top: 630px;
height: 30px;
}

#messages{
    background-color: rgb(110, 225, 240);
    width: 100px;
    border-radius: 5px;
margin-top: 10px;
}